.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}



/* --------------- --------------------- -------------------*/
.mat-tab-link {
  opacity: 1.0 !important;
  color: white;
}

.flex_container {
  display: flex;
  background-color: white;
  border-bottom: 1px solid #c3bfbf;
}

.left_line {
  position: relative;
}

.left_line:not(:last-child):after {
  content: '';
  width: 0;
  height: 60%;
  position: absolute;
  border-left: 1px solid black;
  right: 0;
  top: 60%;
  transform: translateY(-60%);
}

.topMenu {
  border-bottom: none;
}

.header-image {
  background-image: url('/assets/images/main-logo.png');
  background-size: cover;
  width: 45px;
  height: 45px;
}

.flex-row {
  width: 300px;
  display: flex;
  flex-direction: row;
  background: whitesmoke;
  height: 50px;
  padding: 10px 5px;
}

.box--end {
  margin-left: auto;
}

.flex-row--reverse {
  flex-direction: row-reverse;
}

.flex-row--reverse .box--end {
  margin-right: auto;
  margin-left: 0;
}

.mat-tab-links {
  display: flex;
  justify-content: center;
}

.logout {
  float: right;
  height: 100%;
  position: absolute;
  right: 30px;
  top: 0;
}

.mat-figure-menu {
  float: right;
  height: 100%;
  position: absolute;
  right: 250px;
  top: 0;
  margin-top: 10px;
}

.selectedLang {
  background-color: bisque;
}