<div [formGroup]="form" class="wrap" class="row">
  <crm-autocomplete-load-list [label]="'ADDRESS.COUNTRY' | translate" [isRequired]="true" [requestName]="'country'"
  [autoLoad]="false"  formControlName="born_country_id"
  [showError]="f('born_country_id')" class="col-sm-6" [selectUIType]="inputUIType"></crm-autocomplete-load-list>
  <crm-autocomplete-load-list [isDisabled]="form.get('born_country_id')?.value != '182'" [label]="'ADDRESS.REGION' | translate" formControlName="born_region_id" [requestName]="'address'"
  [autoLoad]="true" [setRequestParams]="setRegionParam"
  [showError]="f('born_region_id')" class="col-sm-6" [selectUIType]="inputUIType"></crm-autocomplete-load-list>
  <crm-autocomplete-load-list [isDisabled]="form.get('born_country_id')?.value != '182'" [label]="'ADDRESS.CITY' | translate" [requestName]="'address'" formControlName="born_city_id"
  [autoLoad]="true" [setRequestParams]="setCityParam"
  [refreshList]="form.get('born_region_id')?.value"
  class="col-sm-6" [selectUIType]="inputUIType"></crm-autocomplete-load-list>

  <div class="col-sm-6">
    <crm-input [showError]="f('born_place')" [label]="'ADDRESS.BORN_PLACE' | translate"  formControlName="born_place" [inputUIType]="inputUIType"></crm-input>
  </div>
</div>
