:host{
    display: block;
    width: 100%;
    padding-bottom: 10px;
}
:host .input--container-flex{
    display: flex;
    justify-content: flex-end;
}
:host .input--container-flex .label{
    width: 30%;
    text-align: right;
}
:host .input--container-flex .inpWrap{
    width: 70%;
}