:host {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
:host .container-fluid{
    padding: 0!important;
}
.login--card{
    height: 306px;
    width: 561px;
    background-color: var(--background-color-modal);
    padding: 25px 30px 28px 30px;
}
.login--card .login--card-header{
    display: flex;
    justify-content: space-between;
}
.login--card .login--icon-container{
    display: flex;
    align-items: center;
}
.login--card .login--card-header .login--language-container{
    width: 100px;
}
:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: var(--login-input-color)!important;
    color: var(--text-color-title);
}

.login--card .login--form-container{
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

.login--card .login--radio-container{
    display: block;
    margin-bottom: 50px;
    text-align: right;
}
.login--card .login--radio-btn{
  margin-right: 30px;  
}
::ng-deep .mat-radio-outer-circle{
    border-color: var(--border-colors)!important;
}
::ng-deep .mat-radio-inner-circle{
    background-color: var(--icon-colored)!important;

}
::ng-deep .mat-radio-persistent-ripple{
    background-color: var(--icon-colored)!important;

}
:host ::ng-deep .mat-ripple-element{
    background-color: var(--icon-colored)!important;
    
}
.login--card .login--btn-container{
    margin: 0;
    margin-top: 32px;
    align-items: baseline;
}
.login--card .login--btn-container .login--save-beckbox{
    margin-right: 20px;
}
::ng-deep .mat-checkbox-label{
    color: #7E7C7C;
    font-size: 14px;
}
:host ::ng-deep .mat-form-field-infix{
    background-color: var(--login-input-color)!important;
    color: var(--text-color-title);

}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    background: var(--color-tab-active-border);
    width: 79px;
    height: 33px;
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}

.card {
    max-width: 400px;
}

.header-image {
    background-image: url('/assets/images/main-logo.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 10px;
}
:host ::ng-deep .mat-form-field-label{
    color: var(--text-color-title);
}
:host .header--info-label{
    color: var(--text-color-title);
}
:host ::ng-deep .mat-select-min-line{
    color: var(--text-color-title);
}
:host ::ng-deep .mat-checkbox-label{
    color: var(--text-color-title);
}
:host ::ng-deep .mat-radio-label-content{
    color: var(--text-color-title);
}