:host {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
}

.table_wrap {
  display: block;
  border: 1px solid rgba(29, 28, 28, 0.2);
  border-radius: 0px;
  margin-left: 5px;
  box-sizing: border-box;
  border-top: unset;
}

.ag_no_sort {
  background-color: rgb(93, 93, 93);
}

:host ::ng-deep .ag-header-cell-resize:after {
  left: calc(50% - 3px) !important;
  width: 3px !important;
}

:host ::ng-deep .ag-body-horizontal-scroll {
  display: none;
}
:host ::ng-deep .ag-header {
  background-color: var(--text-color-bgk)!important;
  background: var(--text-color-bgk)!important;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid #F9E83A;
}
:host ::ng-deep .ag-header-cell-label {
  justify-content: center;
}
:host ::ng-deep .ag-root-wrapper{
  background-color: var(--body-colors);
  border: none;
}
:host ::ng-deep .ag-row {
  /* margin-top: 12px; */
  background-color: var(--background-color-table-row)!important;
  color: var(--text-color-table)!important;
}
:host ::ng-deep .ag-row.bg-color-red {
  color: var(--text-color-bgk)!important;
  background-color: var(--background-color-red-table-row)!important;
}
:host ::ng-deep .ag-center-cols-container{
  width: 100%;
}
:host ::ng-deep .ag-cell{
  display: relative;
}
:host ::ng-deep .ag-cell::after{
  content: '';
  height: 50%;
  border-right: solid 1px #CCCCCC;
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 10px;
}
:host ::ng-deep .ag-cell:last-child::after{
  border: none;
}
:host ::ng-deep .mat-button-wrapper{
  color: #404040;
}
:host ::ng-deep .export-btn .mat-button-wrapper{
  color: white;
}:host ::ng-deep .add-btn .mat-button-wrapper{
  color: white;
}
:host ::ng-deep .ag-root-wrapper{
  height: 100%;
}
:host ::ng-deep .ag-root-wrapper-body{
  height: 90%;
}
:host ::ng-deep .ag-body-viewport {
}
:host ::ng-deep .ag-row-focus{
  background-color: var(--background-color-selected-primary)!important;
  color: var(--text-color-bgk)!important;
}
:host ::ng-deep .ag-row-focus .mat-button-wrapper{
  color: var(--text-color-bgk)!important;
}
:host ::ng-deep .ag-header-cell-text{
  font-weight: 400;
  font-size: 14px;
}
:host ::ng-deep .material-icons{
  color: var(--table-icon-colors);
}
:host ::ng-deep .ag-row-focus .material-icons{
  color: #fff;
}
:host ::ng-deep .ag-center-cols-viewport{
  height: 100% !important;
  overflow-x: auto;
  overflow-y: auto;
}
:host ::ng-deep .ag-center-cols-clipper{
  height: 100% !important;
}
