::ng-deep .crm-image-dialog .mat-dialog-container {
    background: transparent;
    box-shadow: none;
}

::ng-deep .crm-image-dialog .mat-dialog-container .mat-icon {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 50px;
    color: #fff;
}