.wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 8px;
}



.categories {
  margin-top: 15px;
}

.categories span {
  margin-left: 15px;
}
::ng-deep .mat-checkbox-layout{
  background-color: var(--background-color-white);
}
