.header-secondary{
    display: flex;
    background-color: var(--background-color-gray);
    padding: 14px 0;
}
.header-secondary .breadcrumb-container{
    width: 75%;
}
.header-secondary .breadcrumb-container .breadcrumb{
    margin: 0;
    padding: 0;
}
.header-secondary .breadcrumb-container .breadcrumb li{
    display: inline;
}
.header-secondary .breadcrumb-container .breadcrumb .breadcrum-element{
    color: var(--text-color-title);
    font-size: 12px;
    text-decoration: none;
}

.header-secondary .breadcrumb-container .breadcrumb .breadcrum-element-last{
    color: #7E7C7C;
    cursor: inherit;
}
.header-secondary .settings{
    width: 25%;
    display: flex;
    align-items: center;
    margin-left: 3%;
}
.header-secondary .settings .icon-container{
    background-color: var(--background-color-selected-primary);
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    padding-bottom: 0;
    text-align: center;

}
.header-secondary .settings .icon-container .icon{
    color: var(--text-color-bgk);
    font-size: 18px;

}
.header-secondary .settings .setting-title{
    font-size: 14px;
    color: var(--text-color-title);
    font-weight: 700;
    margin-left: 10px;
}
:host .settings .icon:hover{
    cursor: pointer;
}

