:host ::ng-deep .mat-tab-body-content{
    overflow-x: hidden;
}
:host ::ng-deep .mat-tab-group{
    height: 100%;
}  
:host ::ng-deep .mat-tab-group .mat-tab-body-wrapper{
    height: 100%;
}
:host .tab--index-deviders{
    display: none;
    margin-right: 10px;
    font-weight: bold;
    color: var(--text-color-title);
    text-decoration: underline;
}
:host .d-block{
    display: block!important;
}
